<!-- /// HERO SECTION /// -->


<div class="container">
    <div id="games" class="large-margin">
        <a href="podcast"></a><!-- Nav Anchor -->
        <div class="row heading tiny-margin">
            <div class="col-md-auto">
                <h1 class="animation-element slide-down" style="font-family:'Techno Hideo'">POD <span class="colored">CAST</span></h1>
            </div>
            <div class="col">
                <hr class="animation-element extend">
            </div>
        </div>
        <div class="row ">
            <div class="col-md-11 small-margin">
                <p>Conheça nossao opinião sobre o mundo Geek</p>
            </div>
            <div class="col-md-12">
                <ul class="game-tags">
                    <li>Sort By Tag :</li>
                    <li><a href="#" data-filter=".new">Novos</a></li>
                    <li><a href="#" data-filter="*">Todos</a></li>
                    <li><a href="#" data-filter=".pc">DC</a></li>
                    <li><a href="#" data-filter=".mobile">Marvel</a></li>
                </ul>
            </div>
        </div>
        <div class="games-portfolio ">
            <!-- Game Card Video -->
            <div class="row game-card pc new">
                <div class="col-lg-12 col-xl-5 game-card-left">
                    <a href="#" class="js-video-button" data-video-id='DPBW_MFqeRs' data-channel="youtube">
                        <!-- Video link goes here -->
                        <div class="overlay">
                            <i class="fa fa-play fa-3x"></i>
                        </div>
                        <img src="~/Content/images/FandomePod1.jpg" data-src="~/Content/images/FandomePod1.jpg" class="img-fluid b-lazy" alt="video thumbnail"> <!-- Video Thumbnail Img -->
                    </a>
                </div>
                <div class="col-lg-12 col-xl-7 game-card-right">
                    <h2 class="short-hr-left">OS MELHORES ANIMES DA DÉCADA</h2>
                    <p class="tags"><span class="subtle">1#</span> </p>
                    <p class="game-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis rhoncus nibh. Phasellus dignissim luctus consectetur. Fusce viverra est non purus ultrices, vel molestie massa tincidunt. <span class="expand colored strong" data-toggle="modal" data-target="#game1">Read More</span></p>
                    <div class="steam-btn">
                        <a href="#">
                            <i class="fa fa-play fa-3x"></i>
                            <p> INICIAR <br><span class="spaced">PODCAST</span></p>
                        </a>
                    </div>
                    <div class="reviews">
                        <a href="#">
                            <div class="score-card">
                                <p class="score">3H</p>
                                <p>Duração</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="score-card">
                                <p class="score">11/1/41</p>
                                <p>Data</p>
                            </div>
                        </a>
                    </div>
                </div>
                <br />
                <hr />

                <div class="col-lg-12 col-xl-5 game-card-left">
                    <a href="#" class="js-video-button" data-video-id='DPBW_MFqeRs' data-channel="youtube">
                        <!-- Video link goes here -->
                        <div class="overlay">
                            <i class="fa fa-play fa-3x"></i>
                        </div>
                        <img src="~/Content/images/AnimePod2.jpg" data-src="~/Content/images/AnimePod2.jpg" class="img-fluid b-lazy" alt="video thumbnail"> <!-- Video Thumbnail Img -->
                    </a>
                </div>
                <div class="col-lg-12 col-xl-7 game-card-right">
                    <h2 class="short-hr-left">SOBRE O FANDOME</h2>
                    <p class="tags"><span class="subtle">1#</span> </p>
                    <p class="game-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis rhoncus nibh. Phasellus dignissim luctus consectetur. Fusce viverra est non purus ultrices, vel molestie massa tincidunt. <span class="expand colored strong" data-toggle="modal" data-target="#game1">Read More</span></p>
                    <div class="steam-btn">
                        <a href="#">
                            <i class="fa fa-play fa-3x"></i>
                            <p> INICIAR <br><span class="spaced">PODCAST</span></p>
                        </a>
                    </div>
                    <div class="reviews">
                        <a href="#">
                            <div class="score-card">
                                <p class="score">3H</p>
                                <p>Duração</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="score-card">
                                <p class="score">11/1/41</p>
                                <p>Data</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade game-modal" id="game1" tabindex="-1" role="dialog" aria-labelledby="scales" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="scales">Os melhores animes da decada</h1>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h2 class="short-hr-left">TEAM UP AND FIGHT DRAGONS</h2>
                                <p>Integer eget diam felis. Quisque et aliquet lectus, et lacinia turpis. Praesent eget pretium orci. Sed vestibulum rutrum volutpat. Curabitur feugiat arcu odio, quis convallis eros laoreet ac.</p>
                                <img class="img-fluid" src="~/Content/images/game_large.jpg" alt="screenshot">
                                <br>
                                <h2 class="short-hr-left">MAKE FRIENDS</h2>
                                <p>Suspendisse ultricies, dui vitae convallis blandit, ipsum sem mattis diam, in egestas arcu lacus sed lectus. Donec at interdum tellus. Quisque pellentesque a felis et rutrum. Donec condimentum magna sit amet viverra convallis. Fusce accumsan efficitur orci a commodo.</p>
                                <img class="img-fluid" src="~/Content/images/game_large.jpg" alt="screenshot">
                                <br>
                                <h2 class="short-hr-left">TRAIN YOUR DRAGON</h2>
                                <p>Mauris at sapien nibh. Integer id tellus vitae ante cursus pharetra. Vestibulum ultrices eleifend enim, quis maximus nibh dapibus in. Phasellus lacinia nec leo at semper. Duis nisl odio, lacinia quis dui at, pretium tincidunt metus. Maecenas condimentum purus sit amet neque maximus tempor. Proin eros massa, ullamcorper eget rutrum eu, feugiat id purus.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /// ABOUT SECTION /// -->
                <div id="about" class="large-margin">

                    <br />
                    <br />
                    <br />
                    <br />
                    <a href="about"></a><!-- Nav Anchor -->
                    <div class="row heading tiny-margin">
                        <div class="col-md-auto">
                            <h1 class="animation-element slide-down" style="font-family:'Techno Hideo'">SOBRE <span class="colored"></span></h1>
                        </div>
                        <div class="col">
                            <hr class="animation-element extend">
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <p class="small-margin">We are a dedicated team of developers, designers, artists, programmers, and most importantly gaming enthusiasts. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae ante pharetra, molestie nunc non, interdum ipsum.</p>

                        </div>
                    </div>
                </div>
            </div><!-- Game Card End -->
            <!-- /// TEAM SECTION /// -->
            <div id="team" class="large-margin">
                <a href="team"></a><!-- Nav Anchor -->
                <div class="row heading tiny-margin">
                    <div class="col-md-auto">
                        <h1 class="animation-element slide-down" style="font-family:'Techno Hideo'">A <span class="colored">GALERA</span></h1>
                    </div>
                    <div class="col">
                        <hr class="animation-element extend">
                    </div>
                </div>
                <div class="row medium-margin">
                    <div class="col-md-11 tiny-margin">
                        <p>Our passion unites us. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt mi ut mauris varius, vitae lobortis erat ullamcorper. Pellentesque vel dolor non nisi fringilla scelerisque in non ante.</p>
                    </div>
                    <div id="full-row" class="row text-center">
                        <div class="col-md-3 team-card">
                            <figure>
                                <img src="~/Content/images/TimeFF.png" data-src="~/Content/images/TimeFF.png" class="img-fluid b-lazy" alt="teammember">
                                <figcaption class="team-caption">
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                    <hr class="hr-short">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <p class="team-name">Senpai no Piku </p>
                        </div>
                        <div class="col-md-3 team-card">
                            <figure>
                                <img src="~/Content/images/TimeSuper.png" data-src="~/Content/images/TimeSuper.png" class="img-fluid b-lazy" alt="teammember">
                                <figcaption class="team-caption">
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                    <hr class="hr-short">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <p class="team-name">Felps</p>
                        </div>
                        <div class="col-md-3 team-card">
                            <figure>
                                <img src="~/Content/images/TeamBatman.png" data-src="~/Content/images/TeamBatman.png" class="img-fluid b-lazy" alt="teammember">
                                <figcaption class="team-caption">
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                    <hr class="hr-short">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <p class="team-name">Victor </p>
                        </div>
                        <div class="col-md-3 team-card">
                            <figure>
                                <img src="~/Content/images/TimeTLS.png" data-src="~/Content/images/TimeTLS.png" class="img-fluid b-lazy" alt="teammember">
                                <figcaption class="team-caption">
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                    <hr class="hr-short">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <p class="team-name">Leo</p>
                        </div>

                    </div>

                    <div class="col-md-3 team-card">
                        <figure>
                            <img src="~/Content/images/TeamDark.png" data-src="~/Content/images/TeamDark.png" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                <hr class="hr-short">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <p class="team-name">Paulo?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Main Container End -->
<!-- /// FOOTER /// -->
<div id="main-footer">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p id="copyright">&copy; Atypical Themes <span id="year"> </span></p><!-- Copyright Text -->
                    <ul class="social-links">
                        <!-- Social Media Icons -->
                        <li><a href="#"><i class="fa fa-facebook fa-lg icon-social"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter  fa-lg icon-social"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram fa-lg icon-social"></i></a>
                    </ul>
                </div>
            </div>
        </div><!-- Container End -->
    </div>
</div><!-- Footer End -->